<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dsuess.audio-device-switcher</string>
	<key>connections</key>
	<dict>
		<key>4D7C3AB9-894B-4B2B-ACF1-7192CFA72036</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6B6DC3B-A2A1-4380-AB37-86BDEB4EA318</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE7AFB4E-BBF4-4ED5-8B8B-5F7D54CE9886</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FBD3FC53-4A67-4829-864E-F18AA9D9D8DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6B6DC3B-A2A1-4380-AB37-86BDEB4EA318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7C2AFA2-740B-456E-83E4-B0A7607D635B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FBD3FC53-4A67-4829-864E-F18AA9D9D8DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7C2AFA2-740B-456E-83E4-B0A7607D635B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dsuess</string>
	<key>description</key>
	<string>Switch default Core Audio input and output devices with ai and ao.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audio Device Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ai</string>
				<key>script</key>
				<string>osascript -l JavaScript "$PWD/audio.js" list input</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose the default input audio device</string>
				<key>title</key>
				<string>Audio Input</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D7C3AB9-894B-4B2B-ACF1-7192CFA72036</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ao</string>
				<key>script</key>
				<string>osascript -l JavaScript "$PWD/audio.js" list output</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose the default output audio device</string>
				<key>title</key>
				<string>Audio Output</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DE7AFB4E-BBF4-4ED5-8B8B-5F7D54CE9886</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript "$PWD/audio.js" switch input "{var:audio_device_id}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F6B6DC3B-A2A1-4380-AB37-86BDEB4EA318</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript "$PWD/audio.js" switch output "{var:audio_device_id}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FBD3FC53-4A67-4829-864E-F18AA9D9D8DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string></string>
				<key>text</key>
				<string>{var:audio_notification}</string>
				<key>title</key>
				<string>Audio Device Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F7C2AFA2-740B-456E-83E4-B0A7607D635B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Requires Homebrew switchaudio-osx. `ai` lists input devices; `ao` lists output devices and also changes system alert output.</string>
	<key>uidata</key>
	<dict>
		<key>4D7C3AB9-894B-4B2B-ACF1-7192CFA72036</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>DE7AFB4E-BBF4-4ED5-8B8B-5F7D54CE9886</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F6B6DC3B-A2A1-4380-AB37-86BDEB4EA318</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>FBD3FC53-4A67-4829-864E-F18AA9D9D8DF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F7C2AFA2-740B-456E-83E4-B0A7607D635B</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
