[user]
    email = suess.daniel@gmail.com
    name = Daniel Suess
    signingkey = ~/.ssh/id_rsa
[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = bat --paging=always
[push]
    default = simple
	autoSetupRemote = true
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[diff]
    tool = bat
[difftool]
    prompt = false

[difftool "bat"]
    cmd = bat -d $LOCAL $REMOTE
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lv = log --reverse --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    broom = "! git rm $(git ls-files --deleted)"
    addnw = !sh -c 'git diff -U0 -w --no-color --src-prefix=a/ --dst-prefix=b/ "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
[github]
    user = dsuess
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh

# To override user/signing on other machines, create ~/.gitconfig.local with:
#   [user]
#       email = your-work-email@company.com
#       name = Your Name
#       signingkey = /path/to/key
#   [commit]
#       gpgsign = false
[include]
    path = ~/.gitconfig.local
